body {
    background-color: #252432;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    /* Allow items to wrap to the next row if necessary */
}

.wrapper>* {
    padding: 3.2rem;
    margin: 0.5rem;
    flex: 1 100%;
    /* Allow items to grow and take up the full width of the container */
}

.header {
    background-color: #ffb01e;
    height: 10rem;
    border-radius: 0.5rem;
}

.footer {
    background-color: #921eff;
    height: 6rem;
    border-radius: 0.5rem;
}

.main {
    background-color: #ff1e77;
    height: 15rem;
    border-radius: 0.5rem;
}

.side {
    border-radius: 0.5rem;
}

.side-a {
    background-color: #50e470;
}

.side-b {
    background-color: #5090e4;
}

@media screen and (min-width: 800px) {
    .main {
        flex: 2;
        /* Allow the main content to take up 3 times the space of the other items */
    }

    .side-a {
        order: 2;
        /* Change the order of side A to appear first */
    }

    .side-b {
        order: 2;
        /* Change the order of side B to appear second */
    }

    .main {
        order: 2;
        /* Change the order of the main content to appear second too */
    }

    .footer {
        order: 4;
        /* Change the order of the footer to appear last */
    }
}

@media screen and (min-width: 600px) {
    .side-a {
        flex: 1;
        /* Allow side A to take up 1/3 of the available space */
    }

    .main {
        flex: 3;
    }

    .side-b {
        flex: 1;
    }

    .side-a {
        order: 1;
    }

    .side-b {
        order: 3;
    }

    .main {
        order: 2;
    }

    .footer {
        order: 4;
    }
}